@charset "utf-8";

$family-sans-serif: 'Roboto', sans-serif;
$primary: #77cdfe;
$info: #0085d9;
$grey-lighter: #c2c2c2;
$grey-darker: #2d384c;

$section-padding: 1rem 1rem;

@import './node_modules/bulma/bulma.sass';
